
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'polls/css/personal.css'%}">
    <title>POS!</title>
    <img src="{% static 'headerpos.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
  </head>
  <style type="text/css">
#id_your_name{
  width: 500px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{% static 'gifloader.gif' %}") 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
    </style>
  <body class="p-3 mb-2 text-blue">

    <div class="jumbotron style="background-color:#00F3FF"">
      <p class="text-center" style="font-size: 20px;">
        Presione para descargar el archivo excel.
      </p>

{% block content %}

    <div class="row align-items-center justify-content-center" style="margin-top:20px;">
         
         <a href="{% url 'descarga' %}"> <button style="width: 195px;">Descargar archivo</button> </a>
    </div>
   <!--  <form action="" method="POST">
    <button type="submit" value="Click" style="width: 195px;">Descargar archivo</button>
  </form> -->
 {% endblock %}     

</div>
 <div class="loader" id="hidden_div" style="display:none">
        <div class="text-center">
        </div>
        
      </div>
        <div  class="text-right">
  <a href="{% url 'consultaLista' %}" class="btn btn-outline-info" >Volver</a>
</div>
</body>
  <!-- <tbody>
    <tr>
      
      {% for i in listaPuco1_ %}
      <th scope="col">{{i}}</th>
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">2</th>
       {% for i in listaPuco2_ %}
      <td>{{i}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">3</th>
       {% for i in listaPuco3_ %}
      <td>{{i}}</td>
      {% endfor %}
    </tr>
  </tbody> -->

  <footer>

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content --> 
        <div class="text-center">
        <h5 class="text-uppercase">Municipalidad de San Miguel</h5>
       
                  <p>Paginas a las que consulta esta aplicacion:</p>
        <p><strong>PUCO</strong></p>
        <p><strong>Superintendencia de salud</strong> </p>
        <p><strong>IOMA</strong></p>
        <p><strong>Plan sumar</strong> </p>
        <p><strong>PAMI</strong></p>

        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contactos:</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://www.msm.gov.ar/">MSM</a>
          </li>
          <li>
            <a href="http://www.intranet.msm.gov.ar/">Intranet</a>
          </li>
          <li>
            <a href="https://twitter.com/munisanmiguelok?lang=es">Twitter MSM</a>
          </li>
          <li>
            <a href="https://twitter.com/smconectado?lang=es">SM conectado</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Desarrollado por la Municipalidad de San Miguel.
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> http://www.msm.gov.ar/</a>
  </div>
  <!-- Copyright -->

</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
$(window).load(function() {
    $(".loader");
});
</script>
<script type="text/javascript">
 function showHide() {
   var div = document.getElementById("hidden_div");
   if (div.style.display == 'none') {
     div.style.display = '';
   }
   else {
     div.style.display = 'none';
   }
 }
</script>
  </body>
</html>