<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <div id="container">
    <img src="{% static 'headerpos.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
</div>
  <div class="header">
</div>
<section class="content">
</section>
    <!-- Required meta tags -->
    
<style type="text/css">
#id_your_name{
  width: 500px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{% static 'gifloader.gif' %}") 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}">    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>POS.</title>
</head>
    <body class="p-3 mb-2">
	<div class="jumbotron">
<!--     <div class="col md-1">
     <span class="ingrese">ingrese el documento:</span>  
    </div>
    <div class="col md-1">
     {% csrf_token %}
     {{ form }}
    </div>
    <div class="col md-3"> 
     <input type="submit" class="btn btn-info" value="Aceptar">
    </div>
</form> -->
<div  class="text-right">
  <a href="{% url 'home' %}" class="btn btn-outline-info" >Volver</a>
</div>
<div class="row align-items-center justify-content-center">


<form method="post" name="installer" onsubmit="showHide();">
{% csrf_token %}
  	<div class="input-group">
  	<span class="input-group-text" id="">INGRESE EL DOCUMENTO</span>


     <input type="text" name="your_name" minlength="5" required="" title="Ingrese solo numeros." id="id_your_name" pattern="[0-9]+" min_value="1000" class="form-control" maxlength="8" autocomplete="off">

      <input type="submit" class="btn btn-info" value="Buscar" name="submit" style="background-color: #00b2e9; border-color: #00b2e9;">

      <div class="loader" id="hidden_div" style="display:none">

      	<div class="text-center">
      	</div>
      	
      </div>
 </div>
  </form>
</div>
</div>


<!--    <div class="d-flex justify-content-center">
     <div class="input-group-prepend">
   {% csrf_token %}
        <span class="input-group-text" id="">INGRESE DOCUMENTO</span>
        {{ form }}
        <input type="submit" class="btn btn-info" value="Aceptar">
        </div>
   </div>
    -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
$(window).load(function() {
    $(".loader");
});
</script>
<script type="text/javascript">
 function showHide() {
   var div = document.getElementById("hidden_div");
   if (div.style.display == 'none') {
     div.style.display = '';
   }
   else {
     div.style.display = 'none';
   }
 }
</script>
  </body>
</html>
