<!DOCTYPE html>
<html>
<head>


  <title> POS</title>
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<link rel="stylesheet" type="text/css" href="{% static '/polls/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/polls/css/styleshome.css' %}">
<link rel="stylesheet" href="{% static '/polls/css/bootstrap.min2.css' %}" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<div class = "banner">
   <div class="imagen">
   	 <img src="{% static 'headerpos.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
   </div>
</div>
<body>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="mrng-30-top">Elija una de las opciones</h2>
    </div>
  </div>
  
  <div class="row">
  		<div class="col-md-2 col-sm-0 col-xs-6"> </div>
  	    <div class="col-md-4 col-sm-6 col-xs-3"> <a href="{% url 'consultaUnica' %}" class="btn btn-sm animated-button thar-one">Consulta unica</a> </div>
   		<div class="col-md-4 col-sm-6 col-xs-3"> <a href="{% url 'consultaLista' %}" class="btn btn-sm animated-button thar-two">Consulta masiva</a> </div>
		<div class="col-md-2 col-sm-0 col-xs-6"> </div>
  </div>
  <footer class="jumbotron text-center">
  </footer>
</body>
<script src="{% static 'polls/js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="{% static 'popper.min.js' %}" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

<script src="{% static 'polls/js/bootstrap.min.js' %}" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</html>