
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="shortcut icon" type="image/png" href="{& static 'favicon.ico' %}"/>
        <style type="text/css">
      body{
    background: linear-gradient(white,white, #70b6e7,#70b6e7);
  background-repeat: repeat;
  background-size: cover;
  background-position: absolute; 
      }
      head{
        background-color: white;
      }
      .jumbotron{
        opacity: 0.73;
        color: black;
      }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>POS!</title>
        <img src="{% static 'headerpos.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
  </head>
  <body class="p-3 mb-2 text-blue">

    <div class="jumbotron style="background-color:#00F3FF"">
<!-- DENTRO DEL JUMBOTRON -->
<div class="text-center">
  <strong> DATOS PROGRAMA SUMAR</strong>
<p> {{sumar_}}</p>
</div>

{% for elemento in listaPamis_ %}
    {% if forloop.counter|divisibleby:2 %}
       <table class="table text-center">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">D.MODULO</th>
              <th scope="col">RED</th>
              <th scope="col">PRESTADOR</th>
            </tr>
        </thead>
      <tbody>
        {% for a,b,c in elemento %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{a}}</td>
              <td>{{b}}</td>
              <td>{{c}}</td>
            </tr>

        {% endfor %}
      </tbody>
    </table>

      
    {% else %}
            <div class="text-center">
             <strong> DATOS PAMI - {{elemento}} </strong>              
            </div>
    {% endif %}
  {% endfor %}






<!-- FUERA DEL JUMBOTRON -->
</div>

  


  <div  class="text-right">
  <a href="{% url 'consultaUnica' %}" class="btn btn-outline-info" >Volver</a>
</div>
  <footer class="page-footer font-small blue pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content --> 
        <div class="text-center">
        <h5 class="text-uppercase">MUNICIPALIDAD DE SAN MIGUEL</h5>

                  <span>PAGINAS EN LAS QUE CONSULTA ESTA APLICACION:</span>
        <p><strong>PUCO</strong></p>
        <p><strong>SUPERINTENDENCIA DE SALUD</strong> </p>
        <p><strong>IOMA</strong></p>
        <p><strong>PLAN SUMAR</strong> </p>
        <p><strong>PAMI</strong></p>

        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contactos:</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://www.msm.gov.ar/">MSM</a>
          </li>
          <li>
            <a href="http://www.intranet.msm.gov.ar/">Intranet</a>
          </li>
          <li>
            <a href="https://twitter.com/munisanmiguelok?lang=es">Twitter MSM</a>
          </li>
          <li>
            <a href="https://twitter.com/smconectado?lang=es">SM conectado</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Desarrollado por la Municipalidad de San Miguel.
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> http://www.msm.gov.ar/</a>
  </div>
  <!-- Copyright -->

</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
